{{#if @labs.subscribers}}
<div class="section-subscribe wrap" id="subscribe">
	<div class="subscribe-wrap">
		<h3>{{t "Join our occasional newsletter"}}</h3>
		<div class="ityped">
			<span class="ityped-wrap"></span>
		</div>
		{{subscribe_form placeholder=(t "Your email address")}}
	</div>
</div>
{{/if}}