{{!< default}}
{{#is "page"}}
{{#get "posts" filter="featured:true+page:[true,false]+tags:homepage" include="authors"}}
{{#foreach posts}}
{{#has number="2"}}
<div class="scrollable-nav">
	<span class="next"></span>
</div>
<div id="siema" class="section-scrollable">
	{{/has}}
	{{/foreach}}
	{{#foreach posts}}
	{{>featured_other}}
	{{/foreach}}
	{{#foreach posts}}
	{{#has number="2"}}
</div>
{{/has}}
{{/foreach}}
{{/get}}
{{/is}}
{{#get "posts" filter="tags:homepagecontent" }}
{{#foreach posts}}

<div class="section-post wrap">
	<div class="post-wrap {{^if feature_image}}no-image{{/if}}">
		<article>
			{{content}}
		</article>
	</div>
</div>

{{/foreach}}
{{/get}}
{{>load-more}}

{{>newsletter}}